---
import Facebook from '../svg/social/facebook.svg'
import Instagram from '../svg/social/instagram.svg'
import Pinterest from '../svg/social/pinterest.svg'
---

<footer>
    <div class="desktop-footer hidden md:flex md:justify-between px-footer-x py-footer-y">
        <div>
            <div>
                <h6>Opening Hours</h6>
                <p>Tuesday - Thursday 12.00-18.00</p>
                <p>Friday 12.00-19.00</p>
                <p>Saturday 12.00-17.00</p>
            </div>

            <div>
                <h6>Address</h6>
                <p>The Great Wine Experience</p>
                <p>Kompagnistræde 28</p>
                <p>1208 Copenhagen K, Denmark</p>
            </div>

            <div>
                <p class="bodySmall">© 2023 Linnea, Evelina & Thordis</p>
            </div>
        </div>

        <div>
            <h6>Links</h6>
            <ul>
                <li><a href="">Shipping & Returns</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Payment Methods</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Sitemap</a></li>
            </ul>
        </div>

        <div>
            <div>
                <h6>Contact</h6>
                <a href = "mailto:natalie@tgwe.dk">natalie@tgwe.dk</a>
                <p>+45 50 12 83 81</p>
            </div>

            <div>
                <h6>Follow us</h6>
                <div class="flex">
                    <img src={Facebook} alt="facebook"/>
                    <img src={Instagram} alt="instagram"/>
                    <img src={Pinterest} alt="pinterest"/>
                </div>
            </div>
        </div>
    </div>
</footer>