---
import RedWine from '../img/red.png'
---

<div class="bg-product-list flex flex-col w-[16rem] h-[24rem] justify-between p-productcard-p ">
    <a href="/singleproduct/">
        <div class="flex flex-col items-end align-right pl-[2rem]">
            <h6 class="text-right">Galia Villages 2014</h6>
            <p class="bodySmall">Red, Spain</p>
        </div>
        <div class="w-full flex justify-center">
            <img class="w-[8rem] h-[14rem] object-contain" src={RedWine} alt="red wine"/>
        </div>
        <div class="">
            <p>75 cl</p>
            <p>299 DKK</p>
        </div>
    </a>

</div>