---
import WhiteWine from '../img/white2.png'
import CornerArrow from '../svg/icons/corner-arrow.svg'
---


    <a class="bg-product-list w-[14rem] sm:w-[16rem]" href="/singleproduct/">
        <div class="flex flex-col justify-between p-productcard-p">
        <div class="flex flex-col items-end align-right pl-[2rem]">
            <h6 class="text-right">Galia Villages 2014</h6>
            <p class="bodySmall">White, Spain</p>
        </div>
        <div class="w-full flex justify-center">
            <img class="w-[8rem] h-[14rem] object-contain" src={WhiteWine} alt="white wine"/>
        </div>
        <div class="flex justify-between">
            <div>
                <p>75 cl</p>
                <p>299 DKK</p>
            </div>
            <div class="flex justify-end"><img class="arrow" src={CornerArrow} alt="corner arrow"/></div>
        </div>
        </div>
    </a>

    <style>
        a:hover {
            background-color: var(--white-wine-card-hover);
        }

        a:hover .arrow{
            rotate: -45deg;
            transition: 300ms ease-in-out;
        }

    </style>